/*

1. Add your custom Css styles below
2. Place the this code in your template:

 <link href="css/custom.css" rel="stylesheet">

*/


.heading-text.heading-line h1::before, .heading-text.heading-line h2::before, .heading-text.heading-line h3::before, .heading-text.heading-line h4::before, .heading-text.heading-line h5::before, .heading-text.heading-line h6::before {
    /* width: 60px !important; */
    background-color: #efd430 !important;
    margin-bottom: -5px !important;
    height: 3px !important;
}

.grecaptcha-badge { visibility: hidden; }


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

#advantages i {
  opacity: 0.5;
}
